@use "variable" as var;
@use "mixin" as mix;

body{
    color: #333;
    line-height: 1.8;
    font-family: "ヒラギノ角ゴ ProN",
            "Hiragino Kaku Gothic ProN",
            "游ゴシック",
            "Yu Gothic",
            "メイリオ",
            "Meirio",
            sans-serif;
            *{
                box-sizing: border-box;
            }
}
a{
    color: #333;
    text-decoration: none;    
}
img{
    max-width: 100%;
    vertical-align: bottom;    
}
p{
    margin-bottom: 1.5em;
    &:last-of-type{
        margin-bottom: 0;
    }
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
.only_pc{

}
.only_sp{
    
}