// サイトカラー
$blue: #1593ef; //メインブルー
$bg_blue: #EAF6FF; //背景のブルー
$line_blue: #c2d6e5; //ブルーのライン
$yellow: #ebb708; //サブイエロー
$bg_yellow: #fcf3d7; //背景イエロー

// ブレイクポイント
$lg: 1200px;
$md: 1024px;
$sm: 767px;
$xs: 575px;